/*font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Gloria Hallelujah', cursive;*/

body {
  background-image: url("https://filiptester.files.wordpress.com/2015/06/background.jpg?w=1920&h=1200&crop=1");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Indie Flower", cursive;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 80px;
  text-decoration: underline;
}

h2 {
  font-family: "Gloria Hallelujah", cursive;
  text-decoration: underline;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 25px;
}

p {
  font-size: 20px;
}

/*ul {
    list-style-position: inside;

  font-size: 20px;
}*/

li {
  text-align: left;
  font-size: 20px;
}

span {
  /*  font-weight: bold;
*/
  text-decoration: underline;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 50%;
  flex: 1;
  padding: 30px;
  border: 2px black solid;
  background-color: white;
}

.tile {
  padding: 30px;
  border: 2px black solid;
  background-color: white;
}
/*.tile-small {
  max-width: 50%;
}*/

.preview {
  padding: 30px;
  border: 2px black solid;
}

.form {
  padding: 30px;
  border: 2px black solid;
}

.profile_greeting {
  font-size: 50px;
}

.build_greeting {
  font-size: 40px;
}

.registration {
  font-size: 35px;
}
